<section class="phx-hero">
  <%= if @my_turn do %>
    <p>It is your turn</p>
  <% else %>
    <p>It is NOT your turn</p>
  <% end %>

  <h4>Tic Tac Toe</h4>
  <%= live_component @socket, GameroomWeb.TicTac, id: "tictac-5" %>
</section>
